
<mdb-carousel [animation]="'slide'" >
  <mdb-carousel-item>
    <img class="d-block" src="../../assets/images/cec3.PNG" alt="First slide" style="width: 55%; height:400px;margin-left: 20%;margin-top: 5%;">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block" src="../../assets/images/cec2.PNG" alt="Second slide" style="width: 55%; height:400px;margin-left: 20%;margin-top: 5%;">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block" src="../../assets//images/cec1.PNG" alt="Third slide" style="width: 55%; height:400px;margin-left: 20%;margin-top: 5%;">
  </mdb-carousel-item>
</mdb-carousel>
<mat-progress-bar mode="determinate" [value]="progressbarValue" style="margin-top: 20px;height:10px; width: 55%;margin-left: 20%;"></mat-progress-bar>
<mat-card ngModel="ocid">
  OCID:  {{ocid}}
</mat-card>
