<div class="bg-image">
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="margin-left:5em">Welcome to Oracle Playground</mat-card-title>
    <mat-card-subtitle style="margin-left:10em">Infrastructure made simpler</mat-card-subtitle>
  </mat-card-header>
    <img src="../../assets/images/profile.png"  class="profile" *ngIf= "!showWebcam && picture == null" (click)="showWebcam=true">
    <img src="{{picture}}"  class="profile" *ngIf= "!showWebcam && picture != null" (click)="showWebcam=true">
    <webcam  [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)" style="margin-left:3em;"></webcam>
    <button class="btn btn-warning btn-lg" style="margin-top: -2px; margin-left: 10em;" (click)="triggerSnapshot();" *ngIf="showWebcam">Take A Snapshot</button>
    <input type="text" class="form-control" id="fn" class="user" placeholder="First Name">
    <input type="text" class="form-control" id="ln" class="user" placeholder="Last Name">
    <input type="text" class="form-control" id="email" class="user" placeholder="email">
    <button class="btn btn-lg btn" style="margin-top: 1em; margin-left: 10em;"><a routerLink="/playground" style="color: white;"> Start building </a></button>
 
  
</mat-card>
</div>
<!-- <div class="bg-text">
    <h1>Welcome to Oracle Playground</h1>
    <input type="text" class="form-control" id="usr" class="user" placeholder="JOHN CARTER">
    <button class="btn btn-warning btn-lg" style="margin-top: -2px; margin-left: 10px;"><a routerLink="/playground" style="color: white;"> Start building </a></button>
    <button class="btn btn-warning btn-lg" style="margin-top: -2px; margin-left: 10px; color:white;" (click)="showWebcam=true"> Upload Profile Image </button>
    <button class="actionBtn" style="margin-top: -2px; margin-left: 10px;" (click)="triggerSnapshot();">Take A Snapshot</button>
    <webcam  [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"></webcam>
  </div>
  <div>
   
  </div> -->
<!-- <button  ><a routerLink="/playground"> Start building </a></button> -->
