 <!-- loader template -->
 <div class="loaderImage">
       
  </div>
  <div class="loading-dots">
        <div class="loading-dots--dot"></div>
        <div class="loading-dots--dot"></div>
        <div class="loading-dots--dot"></div>
        
      </div>
  <img src="../../assets/JS/angular.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showfirst>
  <img src="../../assets/JS/git.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showsecond>
  <img src="../../assets/JS/api.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showthird>
  <img src="../../assets/JS/function.png" style="width:10em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showfourth>
  <img src="../../assets/JS/terraform.png" style="width:8em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showfifth>
  <img src="../../assets/JS/vcn.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showsix>
  <img src="../../assets/JS/vm.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showseven>
  <img src="../../assets/JS/db.png" style="width:6em; height:6em;position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;" *ngIf=showeight>
  
  
 